<% layout('layouts/boilerplate') %>

<h1 class="title mt-3 mb-6">Admin actions</h1>

<div class="columns is-multiline">
    <div class="column is-one-third">
        <a class="card-item open-link" href="/admin/users">
            <div class="card open-card">
                <div class="card-content py-6 has-text-centered is-size-4">
                    Show users
                </div>
            </div>
        </a>
    </div>  
    <div class="column is-one-third">
        <a class="card-item open-link" href="/admin/requests">
            <div class="card open-card">
                <div class="card-content py-6 has-text-centered is-size-4">
                    Show requests
                </div>
            </div>
        </a>
    </div>  
</div>  