<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bulma/css/bulma.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
    <header>
      <div class="container is-fluid bg-primary">
        <div class="container">
          <div class="section py-0">
            <nav class="navbar is-primary" role="navigation" aria-label="main navigation">
                <div class="navbar-brand">
                  <a class="navbar-item" href="/">
                    <img src="/assets/menu_logo.png" alt="Bulma: Free, open source, and modern CSS framework based on Flexbox">
                  </a>
                  <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                  </a>
                </div>
                <div class="navbar-start">
                  <% if(currentUser && (currentUser.roles.includes('cinemaAuthor') || currentUser.roles.includes('admin'))) { %>
                    <a href="/kino/new" class="navbar-item">
                      Add cinema
                    </a>
                  <% } %>
                </div>

                <div class="navbar-end">
                  <% if(currentUser && currentUser.roles.includes('admin')) { %>
                    <a class="navbar-item" href="/admin/requests">
                      Admin
                    </a>                  
                  <% } %>
                  <% if(!currentUser) { %>
                    <a class="navbar-item" href="/register">
                      Register
                    </a>

                    <a class="navbar-item" href="/login">
                      Login
                    </a>
                  <% } else {%>
                  <a class="navbar-item" href="/logout">
                    Logout
                  </a>
                  <% } %>
                </div>
              
              </nav>
        </div>
      </div>
    </div>
    </header>
    <div class="container">
      <div class="section">
        <%- include('../partials/flash') %>
        <%- body %>
      </div>
    </div>
    <script src="/js/app.js"></script>
</body>
</html>