<% layout('layouts/boilerplate') %>

<h1 class="title mt-3 mb-6">Add cinema</h1>

<div class="notification">
    Fill out this form to get reviewed. We’ll keep you posted when your movie theater is added.
  </div>

  <form id="form" action="/kino/new" enctype="multipart/form-data" method="POST">
    <div class="field">
        <label class="label" for="name">Name movie theater</label>
        <div class="control">
          <input id="name" name="cinema[name]" class="input" type="text" placeholder="Name of the movie theater" required>
        </div>
    </div>
    <div class="field">
        <label class="label" for="location">Location</label>
        <div class="control">
          <input id="location" name="cinema[location]" class="input" type="text" placeholder="Location of the cinema" required>
        </div>
    </div>
    <div class="field">
        <label class="label" for="description">Description</label>
        <div class="control">
          <textarea id="description" name="cinema[description]" class="textarea counter-box" placeholder="Catchy description of the cinema" maxlength="192" required></textarea>
        </div>
        <p class="help counter-message">Maximum 192 characters</p>
      </div>
      
    <div class="field">
        <label class="label" for="owner">Owner</label>
        <div class="control">
          <input id="owner" name="cinema[owner]" class="input" type="text" placeholder="Who owns this place">
        </div>
    </div>

    <div class="field">
        <label class="label" for="email">Email</label>
        <div class="control">
          <input id="email" name="cinema[email]" class="input" type="email" placeholder="Email" required>
        </div>
        <p class="help">How can people get in touch with you?</p>

    </div>

    <div class="field">
        <label class="label" for="phone">Phone</label>
        <div class="control">
          <input id="phone" name="cinema[phone]" class="input" type="text" placeholder="Phone" required>
        </div>
        <p class="help">How can people get in touch with you?</p>
    </div>

    <div class="field mt-5">
      <div class="file is-primary has-name is-fullwidth">
        <label class="file-label">
          <input class="file-input" type="file" name="cinema[image]">
          <span class="file-cta">
            <span class="file-icon">
              <i class="fas fa-upload"></i>
            </span>
            <span class="file-label">
              Choose an image
            </span>
          </span>
          <span class="file-name">
            No image selected
          </span>
        </label>
      </div>
    </div>

    <div class="control mt-6">
        <button class="button is-primary">Submit</button>
      </div>
  </form>

  <script src="/js/fileInput.js"></script>