@import '../../node_modules/bulma/bulma.sass';

:root {
  --star-size: 1.5rem;
  --star-color: hsl(0, 0%, 100%);
  --star-background: hsl(48, 100%, 67%);
}

.bg-primary {
  background-color: hsl(171, 100%, 41%);
}

.hero-image {
  object-fit: cover;
  border-radius: 1.5em;
}

.cover-image {
  object-fit: cover;
}

.is-inline {
  display: inline-block;
}

/* Star rating section */
.column {
  position: relative;
}

.stars-holder {
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
}

.stars {
  --percent: calc(var(--rating) / 5 * 100%);

  display: inline-block;
  font-size: var(--star-size);
  font-family: Times;
  line-height: 1;
}

.stars::before {
  content: '★★★★★';
  letter-spacing: 1px;
  background: linear-gradient(
    90deg,
    var(--star-background) var(--percent),
    var(--star-color) var(--percent)
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* End of star rating section */

/* hover on cinema card effect */
.open-image {
  overflow: hidden;
  object-fit: cover;
}

.open-effect {
  transition: transform 230ms ease-in;
}

.open-link:hover .open-effect {
  transform: scale(1.05);
}

.open-card {
  position: relative;
  transition: background-color 460ms ease-in;
}

.open-link:hover .open-card::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 998;
  background-color: hsl(171, 100%, 41%);
  opacity: 0.2;
}

.open-button {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.open-link:hover .open-button {
  display: block;
  display: grid;
  place-content: center;
  z-index: 999;
}
/* end of hover on cinema card effect */

/* disable fields in forms */

.disable {
  pointer-events: none;
  background-color: hsl(0, 0%, 96%);
  border-color: hsl(0, 0%, 96%);
  box-shadow: none;
  color: hsl(0, 0%, 48%);
}
/* end of disable fields in forms */

/* layout of the slider */

input[type='range'].slider {
  max-width: 300px;
  width: 100%;
}

input[type='range'].slider::-moz-range-thumb {
  border-radius: 50%;
  background-color: hsl(171, 100%, 41%);
  height: 1.5rem;
  width: 1.5rem;
  border: none;
  cursor: pointer;
}

input[type='range'].slider::-moz-range-thumb:hover {
  background-color: hsla(171, 100%, 41%, 0.9);
}

input[type='range'].slider::-moz-range-track {
  background-color: white;
  border: 2px solid hsl(171, 100%, 41%);
  border-radius: 8px;
  height: 0.5rem;
}

.slider-output {
  display: block;
  max-width: 300px;
  width: 100%;
  text-align: center;
}

/* end of layout of the slider */
