<% layout('layouts/boilerplate') %>

<h1 class="title mt-3 mb-6">Add a new movie</h1>

<form id="form" action="/kino/<%= id %>/movie" method="POST">
    <div class="field">
        <label class="label" for="title">Movie title</label>
        <div class="control">
          <input id="title" name="movie[title]" class="input" type="text" placeholder="Movie title" required>
        </div>
    </div>
    <div class="field">
      <label class="label" for="genre">Movie genre</label>
      <div class="select">
          <select id="genre" name="movie[genre]">
            <option value="Action">Action</option>
            <option value="Adventure">Adventure</option>
            <option value="Animation">Animation</option>
            <option value="Biography">Biography</option>
            <option value="Comedy">Comedy</option>
            <option value="Crime">Crime</option>
            <option value="Drama">Drama</option>
            <option value="Fantasy">Fantasy</option>
            <option value="Musical">Musical</option>
            <option value="Mysterie">Mysterie</option>
            <option value="Romance">Romance</option>
            <option value="Sci-Fi">Sci-Fi</option>
            <option value="Thriller">Thriller</option>
            <option value="Western">Western</option>
          </select>
        </div>
        <!-- <div class="control">
          <input id="genre" name="movie[genre]" class="input" type="text" placeholder="Movie genre" required>
        </div> -->
    </div>
      
    <div class="field">
        <label class="label" for="duration">Duration</label>
        <div class="control">
          <input id="duration" name="movie[duration]" class="input" type="number" min="5" step="1" placeholder="Duration of the movie in minutes" required>
        </div>
    </div>
    
    <div class="field">
        <label class="label" for="image">Movie poster</label>
        <div class="control">
          <input id="image" name="movie[image]" class="input" type="text" placeholder="Link to movie poster">
        </div>
    </div>
    <div class="control mt-6">
        <button class="button is-primary">Submit</button>
      </div>
  </form>